{
  "env": {
    "common": {
      "presets": [
        ["env"], "react", "stage-0"
      ],
      "plugins": ["add-module-exports", ["import", {
        "libraryName": "antd",
        "style": true
      }]]
    },
    "es": {
      "presets": [
        ["env", {
          "modules": false
        }], "react", "stage-0"
      ],
      "plugins": ["add-module-exports", ["import", {
        "libraryName": "antd",
        "style": true
      }]]
    }
  }
}